:root {
    --azul:#6e669e;
    --verde:#7ef899;
    --bege-claro:#C9B194;
    --rosa: #9938f9;
    --preto: #000000;
}  

header {
    display: flex;
    width: 100%;
    padding: 1rem;
    position: relative;
    background-color: var(--azul);
    justify-content: center;
    box-shadow: 0 4px 4px var(--preto);
}
.menu-disciplina {
    display: inline-block;
    width: 20%;
}

#menu-toggle {
    display: none;
}


.botao-disciplinas {
    cursor: pointer;
    font-size: 1rem;
    background: none;
    background-color: var(--verde);
    border: none;
    padding: 1rem 1rem;
    color: var(--rosa);
    display: flex;
    font-size: 2rem;
    gap: 6rem; 
}

.lista-vertical {
    display: none;
    position: absolute;
    background-color: var(--bege-claro);
    box-shadow: 5px 5px 5px var(--preto);
    min-width: 190px;
    z-index: 1;
    left: 1rem;
    top: 100%;
}

.lista-vertical a {
    color: var(--preto);
    padding: 0.75rem 1rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    text-align: center;
}

.lista-vertical a:hover {
    background-color: var(--azul);
}

#menu-toggle:checked ~ .lista-vertical {
    display: block;
}

#menu-toggle:checked + .botao-disciplinas {
    background-color: var(--preto);
} 

.barra-pesquisa {
    width: 50%;
}

.barra-pesquisa input {
    width: 60%;
    padding: 0.5rem;
    border-radius: 1rem;
}


.links-principais {
    width: 80%;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}


.lista-horizontal {
    list-style: none;
    display: flex;
    font-size: 2rem;
    gap: 4rem; 
}


a {
    text-decoration: none;
    color: var(--amarelo-claro);
}

a:hover {
    color: var(--bege-claro);
}